<div class="m-3">
  <div id="form-container">
    <form (submit)="agregarSubindice($event)" >
      <dx-form id="form" [colCount]="2" [(formData)]="subindice" labelLocation="top" [disabled]="false" [readOnly]="modoView">

        <dxi-item [colSpan]="2" [label]="{text:'Nombre componente'}" dataField="nombre">
          <dxi-validation-rule type="required" ></dxi-validation-rule>
          <dxi-validation-rule
            type="stringLength"
            [min]="2"
            message="Este campo debe tener al menos 2 caracteres"
          ></dxi-validation-rule>
        </dxi-item>
        <dxi-item [colSpan]="2" editorType="dxTextArea" [label]="{text:'Indicadores'}" dataField="indicador">
          <dxi-validation-rule type="required" ></dxi-validation-rule>
          <dxi-validation-rule
            type="stringLength"
            [min]="2"
            message="Este campo debe tener al menos 2 caracteres"
          ></dxi-validation-rule>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="1" [colSpan]="4" *ngIf="!modoView">
          <dxi-item itemType="group" [colCount]="1" [colSpan]="4" *ngIf="!modoView">
            <dxi-item [colSpan]="1" itemType="button" horizontalAlignment="center" verticalAlignment="bottom" [buttonOptions]="buttonOptionsSave">
            </dxi-item>
          </dxi-item>

        </dxi-item>

      </dx-form>
    </form>
  </div>
</div>

<dx-data-grid id="gridContainerSubindices" [dataSource]="subindices" [showBorders]="true">
  <dxi-column dataField="nombre" caption="Nombre componente"></dxi-column>
  <dxi-column dataField="indicador" caption="Indicadores"></dxi-column>
  <dxi-column caption="acción" cellTemplate="fichaCellTemplate" alignment="center" [width]="150">
  </dxi-column>
  <div *dxTemplate="let data of 'fichaCellTemplate'" style="display: block;" class="table-content-icons">
    <dx-button *ngIf="!modoView" icon="fas fa-window-close" class="positionButon" hint="Eliminar" type="danger"
      (onClick)="quitarSubindice(data.data)"></dx-button>
  </div>
</dx-data-grid>


