<div class="hold-transition login-page ">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="login-box-msg">BIENVENIDO</h1>
        </div>
        <div class="col-lg-6">
            <div class="animate__animated animate__backInLeft">
                <!-- /.login-logo -->
                <div class="card">
                    <div class="card-header text-center text-bold">
                        Ingrese su correo y contraseña
                    </div>
                    <div class="card-body login-card-body">
                        <form #frmLogin="ngForm" (ngSubmit)="onLogin(frmLogin)">
                            <div class="input-group mb-3">
                                <input type="username" name="username" class="form-control" placeholder="Email" ngModel
                                    required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" name="password" class="form-control" placeholder="Password" ngModel
                                    required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-lg-4 offset-4">
                                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                                    <p class="mb-1 my-2"><a href="../../dashboard">Olvidé mi contraseña</a></p>
                                </div>
                            </div>
                        </form>        
                    </div>
                    <!-- /.login-card-body -->
        
                </div>
        
            </div>
        </div>
        <div class="col-lg-6">
            <div class="animate__animated animate__backInLeft"><img src="../../../assets/img/login.png" alt="logo adulto mayor">
            </div>
        </div>
    </div>
</div>