<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        
                        <!-- https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/PopupEditing/Angular/Light/ -->
                        <dx-data-grid 
                          id="gridContainer" 
                          [dataSource]="dataSource"
                          [showBorders]="true" 
                          [remoteOperations]="false" 
                          [allowColumnReordering]="true" 
                          [rowAlternationEnabled]="true" 
                          [showBorders]="true"
                        >
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-paging [enabled]="true"></dxo-paging>
                            <dxo-editing
                              mode="popup"
                              [allowUpdating]="true"
                              [allowAdding]="true"
                              [allowDeleting]="true"
                            >
                              <dxo-popup
                                title="Información de la Actividad"
                                [showTitle]="true"
                                [width]="700"
                                [height]="300"
                              >
                              </dxo-popup>
                              <dxo-form>
                                <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                                  <dxi-item dataField="nombre" caption="Nombre"></dxi-item>                                  
                                  <dxi-item dataField="numeroIdentificacion" caption="Documento de identidad"></dxi-item>
                                  <dxi-item dataField="correo" caption="Correo"></dxi-item>
                                  <dxi-item dataField="rol" caption="Rol" ></dxi-item>
                                </dxi-item>
                        
                                
                              </dxo-form>
                            </dxo-editing>
                            <dxi-column dataField="nombre" caption="Nombre"></dxi-column>
                            <dxi-column dataField="numeroIdentificacion" caption="Documento de identidad"></dxi-column>
                            <dxi-column dataField="correo" caption="Correo"></dxi-column>
                            <dxi-column dataField="rol" caption="Rol"></dxi-column>
                            
                            
                        </dx-data-grid>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
