<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->


  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="col-lg-2 mb-2">
            <dx-button type="success" text="Agregar afiliado" icon="fa fa-plus" [routerLink]="['/affiliates/insert']"></dx-button>
            <!-- <dx-button type="success" text="Agregar afiliado" icon="fa fa-plus" (onClick)="btnCrearAfiliado()" ></dx-button> -->
          </div>
          <div class="card">
            <div id="data-grid-demo">
              <dx-data-grid id="gridContainer" [dataSource]="afiliados" [showBorders]="true">
              <!-- <dx-data-grid id="gridContainer" [showBorders]="true"> -->
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-paging [enabled]="true"></dxo-paging>

                <dxi-column dataField="nombre" caption="Nombre " ></dxi-column>
                <dxi-column dataField="identificacion" caption="Numero de identificación" [visible]="false"></dxi-column>
                <dxi-column dataField="sexo" caption="Genero" [width]="150"> </dxi-column>
                <dxi-column dataField="direccion" caption="Dirección"></dxi-column>
                <dxi-column dataField="celular" caption="Celular" [width]="200"> </dxi-column>
                <dxi-column caption="acciones" cellTemplate="fichaCellTemplate" alignment="center"[width]="200">
                  <div *dxTemplate="let data of 'fichaCellTemplate'" style="display: block;" class="table-content-icons">
                    <dx-button icon="fas fa-info" class="positionButon ml-1" hint="Detalles"  type="success"  (onClick)="detailsAfiliado(data.data)"></dx-button>
                    <!-- <dx-button icon="fa fa-check" class="positionButon ml-1" hint="Aprobación"  type="normal"  (onClick)="checkActividad(data.data)"></dx-button> -->
                    <dx-button icon="fas fa-edit" class="positionButon ml-1" hint="Editar"  type="default"  (onClick)="editAfiliado(data.data)"></dx-button>
                    <!-- <dx-button icon="fas fa-window-close"class="positionButon ml-1" hint="Eliminar"  type="danger" (onClick)="deleteActividad(data.data)"></dx-button> -->

                  </div>
                </dxi-column>
              </dx-data-grid>
            </div>
            <!-- Form create servicio -->
            <!-- <dx-popup  [width]="'100%'" [height]="'100%'" [showTitle]="true" title="Solicitar cotización" [dragEnabled]="true" [hideOnOutsideClick]="true" [showCloseButton]="true" [(visible)]="popupVisible">
              <dx-scroll-view width="100%" height="100%">
                <app-form-afiliado (crudEvent)="crudEvento($event)" [crud]="crud"></app-form-afiliado>
              </dx-scroll-view>
            </dx-popup> -->
            <!-- Fin Form create servicio -->
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
