<div class="m-3">
  <div id="form-container">
    <dx-form id="form" name="form" [colCount]="2" [(formData)]="crud.entidad" labelLocation="top" [readOnly]="modoView">
      <dxi-item itemType="group" caption="Datos personales" >
        <dxi-item dataField="nombre" [colSpan]="1" [label]="{text:'Nombre'}" labelLocation="top">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="2" >

          <dxi-item editorType="dxDateBox" dataField="fechaIncorporacion" [editorOptions]="{ type:'date' }" [label]="{text:'Fecha de incorporación'}" >
            <dxi-validation-rule type="required" ></dxi-validation-rule>
          </dxi-item>

          <dxi-item editorType="dxDateBox" dataField="fechaRetiro" [editorOptions]="{ type:'date' }" [label]="{text:'Fecha de retiro'}" value=""></dxi-item>

          <dxi-item  dataField="tipoIdentificacion" alignment="bottom" [colSpan]="1" [label]="{ text: 'Tipo de identificación' }" isRequired="true">
            <div *dxTemplate>
              <dx-select-box [disabled]="modoView" [dataSource]="tipos" [value]="" id="id" [showClearButton]="true"></dx-select-box>
            </div>
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>

          <dxi-item  dataField="identificacion" [colSpan]="1" [label]="{ text: 'Identificación' }">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>

          <dxi-item editorType="dxDateBox" dataField="fechaExpedicionIdentificacion" [colSpan]="1" [editorOptions]="{ type:'date' }" [label]="{text:'Fecha de expedicion'}" >
            <dxi-validation-rule type="required" ></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="lugarNacimiento" [colSpan]="1" [label]="{text:'Lugar de nacimiento'}">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>

          <dxi-item editorType="dxDateBox" dataField="fechaNacimiento" [editorOptions]="{ type:'date' }" [label]="{text:'Fecha de nacimiento'}" >
            <dxi-validation-rule type="required" ></dxi-validation-rule>
          </dxi-item>

          <dxi-item dataField="sexo" [label]="{ text: 'Genero' }" editorType="dxSelectBox"
            [editorOptions]="{ dataSource: generos, showClearButton:'true' }">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>
          <dxi-item  [colSpan]="1" [label]="{text:'LGBTI'}" >
            <div>
              <dx-switch dataField="lgtbi" [(value)]="crud.entidad.lgtbi" style="margin: auto" switchedOffText="No" switchedOnText="Sí" ></dx-switch>
            </div>
          </dxi-item>

          <dxi-item dataField="raza" [label]="{ text: 'Raza' }" editorType="dxSelectBox"
            [editorOptions]="{ dataSource: 'razas', showClearButton:'true' }">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>
        </dxi-item>

        <dxi-item  dataField="direccion" [label]="{ text: 'Dirección' }">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="2" >
          <dxi-item  dataField="ciudad" [label]="{ text: 'Ciudad' }">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>

          <dxi-item  dataField="barrio" [label]="{ text: 'Barrio' }"></dxi-item>

          <dxi-item  dataField="celular" [label]="{ text: 'Celular' }">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>

          <dxi-item  dataField="celularAuxiliar" [label]="{ text: 'Celular auxiliar' }"></dxi-item>
        </dxi-item>

        <dxi-item  dataField="correo" [label]="{ text: 'Correo' }"></dxi-item>
      </dxi-item>

      <dxi-item itemType="group" caption="Datos auxiliares">
        <dxi-item itemType="group" [colCount]="2" >
          <dxi-item  [colSpan]="1" [label]="{text:'Sabe leer'}" >
            <div>
              <dx-check-box class="m-1" dataField="sabeLeer"  style="margin: auto" switchedOffText="No" switchedOnText="Sí" [iconSize]="28" [value]=true></dx-check-box>
            </div>
          </dxi-item>

          <dxi-item  [colSpan]="1" [label]="{text:'Vive solo'}" >
            <div>
              <dx-switch dataField="viveSolo" [(value)]="crud.entidad.viveSolo" style="margin: auto" switchedOffText="No" switchedOnText="Sí" ></dx-switch>
            </div>
          </dxi-item>

          <dxi-item  dataField="cantidadPersonas" [label]="{ text: 'Personas a cargo' }" editorType="dxNumberBox"
            [editorOptions]="{ showSpinButtons: true, showClearButton:'true', min: '0'}">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>

          <dxi-item  dataField="ocupacion" [label]="{ text: 'Ocupación' }"></dxi-item>
        </dxi-item>




        <dxi-item  dataField="unidadesProductivas" [label]="{ text: 'Unidades productivas' }"></dxi-item>

        <dxi-item  dataField="cualidadesPersonales" [label]="{ text: 'Cualidades personales' }"></dxi-item>

        <dxi-item  dataField="firma" [label]="{ text: 'Firma' }"></dxi-item>

        <dxi-item  dataField="huella" [label]="{ text: 'Huella' }"></dxi-item>

        <dxi-item  dataField="firmaAcudiente" [label]="{ text: 'Firma acudiente' }"></dxi-item>

        <dxi-item itemType="group" [colCount]="2" >

          <dxi-item  dataField="tipoIdentificacionAcudiente" alignment="bottom" [colSpan]="1" [label]="{ text: 'Tipo identificacion acudiente' }" isRequired="true">
            <div *dxTemplate>
              <dx-select-box [disabled]="modoView" [dataSource]="tipos" [value]="" id="id" [showClearButton]="true"></dx-select-box>
            </div>
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>

          <dxi-item  dataField="identificacionAcudiente" [label]="{ text: 'Identificacion acudiente' }"></dxi-item>
  
        </dxi-item>

        
        <dxi-item  dataField="huellaAcudiente" [label]="{ text: 'Huella acudiente' }"></dxi-item>
      </dxi-item>

      <dxi-item itemType="group" caption="Datos familiares">
        <dxi-item  dataField="nombreConyuge" [label]="{ text: 'Nombre del conyuge' }"></dxi-item>
        <dxi-item itemType="group" [colCount]="2" >
          <dxi-item dataField="tipoIdentificacionConyuge" [label]="{ text: 'Tipo de identificación del conyuge' }" editorType="dxSelectBox"
            [editorOptions]="{ dataSource: tipos, showClearButton:'true' }"></dxi-item>

          <dxi-item  dataField="identificacionConyuge" [label]="{ text: 'Identificación del conyuge' }"></dxi-item>

        </dxi-item>

        <dxi-item  dataField="nombreAcudiente" [label]="{ text: 'Nombre del acudiente' }">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>

        <dxi-item  dataField="celularAcudiente" [label]="{ text: 'Celular del acudiente' }"></dxi-item>


      </dxi-item>
      <dxi-item itemType="group" caption="Datos de salud">
        <dxi-item itemType="group" [colCount]="2" >
          <dxi-item [dataField]="grupoSanguineo" [label]="{ text: 'Grupo sanguineo' }" editorType="dxSelectBox"
          [editorOptions]="{ dataSource: grupoSanguineo, showClearButton:'true' }"></dxi-item>

          <dxi-item dataField="rh" [label]="{ text: 'Rh' }" editorType="dxSelectBox"
          [editorOptions]="{ dataSource: rh, showClearButton:'true' }"></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="2" >
          <dxi-item  dataField="sisben" [label]="{ text: 'SISBEN' }"></dxi-item>

          <dxi-item  dataField="eps" [label]="{ text: 'EPS' }"></dxi-item>

          <dxi-item  [colSpan]="1" [label]="{text:'ColombiaMayor'}" >
            <div>
              <dx-switch dataField="colombiaMayor" [(value)]="crud.entidad.colombiaMayor" style="margin: auto" switchedOffText="No" switchedOnText="Sí" ></dx-switch>
            </div>
          </dxi-item>

          <dxi-item  [colSpan]="1" [label]="{text:'Presenta alergias'}" >
            <div>
              <dx-switch dataField="presenciaAlergias" [(value)]="crud.entidad.presenciaAlergias" style="margin: auto" switchedOffText="No" switchedOnText="Sí" ></dx-switch>
            </div>
          </dxi-item>
        </dxi-item>

      </dxi-item>

      <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
        <dxi-item itemType="group" caption="Agregar detalles del afiliado" name="Agregar" [visible]="true" [colSpan]="3">
        </dxi-item>

        <dxi-item itemType="button" horizontalAlignment="center" verticalAlignment="bottom"
          [buttonOptions]="buttonOptionsUbicacion">
        </dxi-item>

        <dxi-item itemType="button" horizontalAlignment="center" verticalAlignment="bottom"
          [buttonOptions]="buttonOptionsCaracteristicas">
        </dxi-item>

        <dxi-item itemType="button" horizontalAlignment="center" verticalAlignment="bottom"
          [buttonOptions]="buttonOptionsRecursos">
        </dxi-item>
      </dxi-item>

      <dxi-item itemType="group" [colCount]="2" [colSpan]="2" *ngIf="!modoView">
        <dxi-item [colSpan]="2" itemType="button" horizontalAlignment="center" verticalAlignment="bottom" [buttonOptions]="buttonOptionsSave">
        </dxi-item>
      </dxi-item>


    </dx-form>
  </div>
</div>



