<div class="m-3">
  <div class="long-title">
    <h3>Personal details</h3>
  </div>
  <div id="form-container">
    <dx-form id="form" name="form" [colCount]="2" [(formData)]="crud.entidad"  [readOnly]="modoView">
      <dxi-item itemType="group" >
        <dxi-item dataField="nombre" [colSpan]="1" >
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item editorType="dxDateBox" dataField="fechaIncorporacion" [editorOptions]="{ type:'date' }" [label]="{text:'Fecha de incorporación'}" >
          <dxi-validation-rule type="required" ></dxi-validation-rule>
        </dxi-item>

        <dxi-item editorType="dxDateBox" dataField="fechaRetiro" [editorOptions]="{ type:'date' }" [label]="{text:'Fecha de retiro'}" value=""></dxi-item>

        <dxi-item dataField="HireDate"></dxi-item>
        <dxi-item dataField="Position"></dxi-item>
        <dxi-item dataField="OfficeNo"></dxi-item>
      </dxi-item>
      <dxi-item itemType="group" caption="Personal Data">

        <dxi-item dataField="BirthDate"></dxi-item>
        <dxi-item itemType="group" caption="Home Address">
          <dxi-item dataField="Address"></dxi-item>
          <dxi-item dataField="City"></dxi-item>
          <dxi-item dataField="State"></dxi-item>
          <dxi-item dataField="Zipcode"></dxi-item>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" caption="Contact Information">
        <dxi-item itemType="tabbed">
          <dxo-tab-panel-options [deferRendering]="false">
          </dxo-tab-panel-options>
          <dxi-tab title="Phone">
            <dxi-item dataField="Phone"></dxi-item>
          </dxi-tab>
          <dxi-tab title="Skype">
            <dxi-item dataField="Skype"></dxi-item>
          </dxi-tab>
          <dxi-tab title="Email">
            <dxi-item dataField="Email"></dxi-item>
          </dxi-tab>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </div>
</div>



