<div class="m-3">
  <div id="form-container">
    <div>
      <h3 class="m-4">{{titulo}}</h3>
    </div>
    <form (submit)="submit($event)">
      <dx-form id="form" name="form" [colCount]="4" [(formData)]="crud.entidad" labelLocation="top" [readOnly]="modoView" >
        <dxi-item itemType="group" caption="Datos personales" [colCount]="4" [colSpan]="4">
          <dxi-item dataField="nombre" [colSpan]="2" [label]="{text:'Nombre'}" [editorOptions]="{style: 'text-transform: uppercase'}" labelLocation="top">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>



            <dxi-item editorType="dxDateBox" dataField="fechaIncorporacion" [editorOptions]="{ type:'date' }" [label]="{text:'Fecha de incorporación'}" >
              <dxi-validation-rule type="required" ></dxi-validation-rule>
            </dxi-item>

            <dxi-item editorType="dxDateBox" dataField="fechaRetiro" [editorOptions]="{ type:'date' }" [label]="{text:'Fecha de retiro'}" value=""></dxi-item>

            <dxi-item dataField="tipoIdentificacion" [label]="{ text: 'Tipo de identificación' }" editorType="dxSelectBox"
              [editorOptions]="{ dataSource: tipos, showClearButton:'true' }">
              <dxi-validation-rule type="required"></dxi-validation-rule>

            </dxi-item>


            <dxi-item  dataField="identificacion" [colSpan]="1" [label]="{ text: 'Identificación' }">
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-item>

            <dxi-item editorType="dxDateBox" dataField="fechaExpedicionIdentificacion" [colSpan]="1" [editorOptions]="{ type:'date' }" [label]="{text:'Fecha de expedicion'}" >
              <!-- <dxi-validation-rule type="required" ></dxi-validation-rule> -->
            </dxi-item>
            <dxi-item dataField="lugarNacimiento" [colSpan]="1" [label]="{text:'Lugar de nacimiento'}">
              <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
            </dxi-item>

            <dxi-item editorType="dxDateBox" dataField="fechaNacimiento" [editorOptions]="{ type:'date' }" [label]="{text:'Fecha de nacimiento'}" >
              <dxi-validation-rule type="required" ></dxi-validation-rule>
            </dxi-item>

            <dxi-item dataField="sexo" [label]="{ text: 'Genero' }" editorType="dxSelectBox"
              [editorOptions]="{ dataSource: generos, showClearButton:'true' }">
              <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
            </dxi-item>
            <dxi-item  [colSpan]="1" [label]="{text:'LGBTI'}" >
              <div>
                <dx-check-box class="m-1" dataField="lgtbi"  style="margin: auto" [iconSize]="28" [(value)]="crud.entidad.lgtbi"></dx-check-box>

              </div>
            </dxi-item>

            <dxi-item dataField="raza" [label]="{ text: 'Raza' }" editorType="dxSelectBox"
              [editorOptions]="{ dataSource: razas, showClearButton:'true' }">
              <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
            </dxi-item>


          <dxi-item  dataField="direccion" [label]="{ text: 'Dirección' }">
            <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
          </dxi-item>


            <dxi-item  dataField="ciudad" [label]="{ text: 'Ciudad' }">
              <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
            </dxi-item>

            <dxi-item  dataField="barrio" [label]="{ text: 'Barrio' }"></dxi-item>

            <dxi-item  dataField="celular" [label]="{ text: 'Celular' }">
              <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
            </dxi-item>

            <dxi-item  dataField="celularAuxiliar" [label]="{ text: 'Celular auxiliar' }"></dxi-item>


          <dxi-item  dataField="correo" [label]="{ text: 'Correo' }"></dxi-item>
        </dxi-item>
        <!-- <dxi-item itemType="group">

        </dxi-item> -->
        <dxi-item itemType="group" caption="Datos de salud" [colCount]="4" [colSpan]="4">

            <dxi-item dataField="grupoSanguineo" [label]="{ text: 'Grupo sanguineo' }" editorType="dxSelectBox"
            [editorOptions]="{ dataSource: grupoSanguineo, showClearButton:'true' }"></dxi-item>

            <dxi-item dataField="rh" [label]="{ text: 'Rh' }" editorType="dxSelectBox"
            [editorOptions]="{ dataSource: rh, showClearButton:'true' }"></dxi-item>



            <dxi-item  dataField="sisben" [label]="{ text: 'SISBEN' }"></dxi-item>

            <dxi-item  dataField="eps" [label]="{ text: 'EPS' }"></dxi-item>

            <dxi-item  [colSpan]="1" [label]="{text:'ColombiaMayor'}" >
              <div>
                <dx-check-box class="m-1" dataField="colombiaMayor"  style="margin: auto" [iconSize]="28" [(value)]="crud.entidad.colombiaMayor"></dx-check-box>
              </div>
            </dxi-item>

            <dxi-item  [colSpan]="1" [label]="{text:'Presenta alergias'}" >
              <div>
                <dx-check-box class="m-1" dataField="presenciaAlergias"  style="margin: auto" [iconSize]="28" [(value)]="crud.entidad.presenciaAlergias"></dx-check-box>
              </div>
            </dxi-item>


        </dxi-item>
        <dxi-item itemType="group" caption="Datos familiares" [colCount]="5" [colSpan]="4">
          <dxi-item  dataField="nombreConyuge" [colSpan]="2" [label]="{ text: 'Nombre del conyuge' }"></dxi-item>

            <dxi-item dataField="tipoIdentificacionConyuge" [label]="{ text: 'Tipo de identificación' }" editorType="dxSelectBox"
              [editorOptions]="{ dataSource: tipos, showClearButton:'true' }"></dxi-item>

            <dxi-item  dataField="identificacionConyuge" [label]="{ text: 'Identificación' }"></dxi-item>

            <dxi-item itemType="empty"></dxi-item>

          <dxi-item  dataField="nombreAcudiente" [colSpan]="2" [label]="{ text: 'Nombre del acudiente' }">
            <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
          </dxi-item>
          <dxi-item dataField="tipoIdentificacionAcudiente" [label]="{ text: 'Tipo de identificación' }" editorType="dxSelectBox"
          [editorOptions]="{ dataSource: tipos, showClearButton:'true' }">
            <dxi-validation-rule type="required"></dxi-validation-rule>

          </dxi-item>
          <!-- <dxi-item  dataField="tipoIdentificacionAcudiente" alignment="bottom" [colSpan]="1" [label]="{ text: 'Tipo de identificación' }" isRequired="true">
            <div *dxTemplate>
              <dx-select-box [disabled]="modoView" [dataSource]="tipos" [value]="" id="id" [showClearButton]="true"></dx-select-box>
            </div>
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item> -->

          <dxi-item  dataField="identificacionAcudiente" [label]="{ text: 'Identificacion' }">
            <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
          </dxi-item>

          <dxi-item  dataField="celularAcudiente" [label]="{ text: 'Celular del acudiente' }"></dxi-item>


        </dxi-item>
        <dxi-item itemType="group" caption="Datos auxiliares" [colSpan]="4" [colCount]="4">

            <dxi-item  [colSpan]="1" [label]="{text:'Sabe leer'}" >
              <div>
                <dx-check-box class="m-1" dataField="sabeLeer"  style="margin: auto" [iconSize]="28" [(value)]="crud.entidad.sabeLeer"></dx-check-box>
              </div>
            </dxi-item>

            <dxi-item  [colSpan]="1" [label]="{text:'Vive solo'}" >
              <div>
                <dx-check-box class="m-1" dataField="viveSolo"  style="margin: auto" [iconSize]="28" [(value)]="crud.entidad.viveSolo"></dx-check-box>
              </div>
            </dxi-item>

            <dxi-item  dataField="cantidadPersonas" [label]="{ text: 'Personas a cargo' }" editorType="dxNumberBox"
              [editorOptions]="{ showSpinButtons: true, showClearButton:'true', min: '0'}">
              <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
            </dxi-item>

            <dxi-item  dataField="ocupacion" [label]="{ text: 'Ocupación' }"></dxi-item>





          <dxi-item [colSpan]="2" editorType="dxTextArea" dataField="unidadesProductivas" [label]="{ text: 'Unidades productivas' }"></dxi-item>

          <dxi-item  [colSpan]="2" editorType="dxTextArea" dataField="cualidadesPersonales" [label]="{ text: 'Cualidades personales' }"></dxi-item>



        </dxi-item>
        <dxi-item itemType="group" [colSpan]="4" [colCount]="4">
          <dxi-item itemType="group" caption="Firma" [colSpan]="1" [colCount]="2">
            <dxi-item>
              <canvas #myCanvasFirmaAfiliado width="200" height="100" style="border:1px solid #000000;">
              </canvas>
            </dxi-item>
            <dxi-item  itemType="button" dataField="firma" [label]="{ text: 'Firma' }" [buttonOptions]="buttonOptionsFirma"></dxi-item>
          </dxi-item>

          <dxi-item  dataField="huella" [label]="{ text: 'Huella' }"></dxi-item>

          <dxi-item  dataField="firmaAcudiente" [label]="{ text: 'Firma acudiente' }"></dxi-item>

          <dxi-item  dataField="huellaAcudiente" [label]="{ text: 'Huella acudiente' }"></dxi-item>
        </dxi-item>




        <dxi-item itemType="group" [colCount]="3" [colSpan]="4">
          <dxi-item itemType="group" caption="Agregar detalles del afiliado" name="Agregar" [visible]="true" [colSpan]="3">
          </dxi-item>

          <dxi-item itemType="button" horizontalAlignment="center" verticalAlignment="bottom"
            [buttonOptions]="buttonOptionsAlergias">
          </dxi-item>

          <dxi-item itemType="button" horizontalAlignment="center" verticalAlignment="bottom"
            [buttonOptions]="buttonOptionsEstadoSalud">
          </dxi-item>

          <dxi-item itemType="button" horizontalAlignment="center" verticalAlignment="bottom"
            [buttonOptions]="buttonOptionsEnfermedadesBase">
          </dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="1" [colSpan]="4" *ngIf="!modoView">
          <dxi-item [colSpan]="1" itemType="button" horizontalAlignment="center" verticalAlignment="bottom" [buttonOptions]="buttonOptionsSave">
          </dxi-item>
        </dxi-item>


      </dx-form>
    </form>

  </div>
</div>

<dx-popup [maxWidth]="'700'" [maxHeight]="'600'" [width]="'auto'" [height]="'auto'" [showTitle]="true" title="Estado de salud" [dragEnabled]="true"
  [hideOnOutsideClick]="true" [showCloseButton]="true" [(visible)]="popupVisibleEstadosalud">
  <dx-scroll-view width="100%" height="100%">
    <app-form-estadoSalud [modoView]="modoView" [estadosSaludAfiliado]="crud.entidad.estadosSaludAfiliado" (estadoSaludEvent)="estadoSaludEvent($event)"></app-form-estadoSalud>
  </dx-scroll-view>
</dx-popup>

<dx-popup [maxWidth]="'700'" [maxHeight]="'600'" [width]="'auto'" [height]="'auto'" [showTitle]="true" title="Alergias" [dragEnabled]="true"
  [hideOnOutsideClick]="true" [showCloseButton]="true" [(visible)]="popupVisibleAlergias">
  <dx-scroll-view width="100%" height="100%">
    <app-form-alergiasAfiliado [modoView]="modoView" [alergiasAfiliado]="crud.entidad.alergiasAfiliado" (alergiaEvent)="alergiaEvent($event)"></app-form-alergiasAfiliado>
  </dx-scroll-view>

</dx-popup>

<dx-popup [maxWidth]="'700'" [maxHeight]="'600'" [width]="'auto'" [height]="'auto'" [showTitle]="true" title="Alergias" [dragEnabled]="true"
  [hideOnOutsideClick]="true" [showCloseButton]="true" [(visible)]="popupVisibleEnfermedades">
  <dx-scroll-view width="100%" height="100%">
    <app-form-enfermedadBaseAfiliado [modoView]="modoView" [enfermedadesBaseAfiliado]="crud.entidad.enfermedadesBaseAfiliado" (enfermedadEvent)="enfermedadEvent($event)"></app-form-enfermedadBaseAfiliado>
  </dx-scroll-view>

</dx-popup>

<dx-popup [maxWidth]="'700'" [maxHeight]="'400'" [width]="'auto'" [height]="'auto'" [showTitle]="true" title="Firma" [dragEnabled]="true"
  [hideOnOutsideClick]="true" [showCloseButton]="true" [(visible)]="popupVisibleFirma">
  <dx-scroll-view width="100%" height="100%">
    <dfs-sign-pad (firmaEvent)="firmaAfiliadoEvent($event)"></dfs-sign-pad>
  </dx-scroll-view>
</dx-popup>
