<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div id="data-grid-demo">
                          <dx-data-grid
                            id="gridContainer"
                            [dataSource]="actividades"
                            [showBorders]="true"
                          >
                            <dxo-paging [enabled]="true"></dxo-paging>
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-editing
                              mode="popup"
                              [allowUpdating]="true"
                              [allowAdding]="true"
                              [allowDeleting]="true"
                            >
                              <dxo-popup
                                title="Información de la Actividad"
                                [showTitle]="true"
                                [width]="700"
                                [height]="525"
                              >
                              </dxo-popup>
                              <dxo-form>

                                <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                                  <dxi-item alignment="bottom" [colSpan]="2" [label]="{ text: 'Nombre Programa' }">
                                    <div *dxTemplate>
                                        <dx-select-box 
                                        [dataSource]="programasDTO"
                                        id="programaId"
                                        displayExpr="nombre"
                                        valueExpr="nombre"
                                        [value]="currentProgram"
                                        (onSelectionChanged)="getProgramBySelection($event)"
                                        [showClearButton]="true">
                                        </dx-select-box>
                                    </div>
                                </dxi-item>
                                  <!-- <dxi-item [colSpan]="2" [isRequired]="true" editorType="dxSelectBox" [label]="{text:'Nombre Programa'}" dataField="programa_nombre" [editorOptions]="{ dataSource: programasDTO,  
                                    displayExpr: 'nombre',  
                                    valueExpr: 'id',
                                    showClearButton:'true',
                                    onSelectionChange: getProgramBySelection()
                                  }">
                                  </dxi-item> -->

                                  <dxi-item [colSpan]="1"  editorType="dxSelectBox" [label]="{text:'Subindice'}" dataField="subindice_nombre" [editorOptions]="{ dataSource:  subindicesDTO,  
                                    displayExpr: 'nombre',  
                                    valueExpr: 'nombre',
                                    showClearButton:'true'
                                  }">
                                  </dxi-item>
                                  
                                  <dxi-item dataField="nombre" caption="Nombre Actividad"></dxi-item>
                                  <dxi-item dataField="usuario_nombre" caption="Creador de la Actividad"></dxi-item>
                                  <dxi-item dataField="fecha" caption="Fecha" dataType="date"></dxi-item>
                                  <dxi-item dataField="estado" caption="Estado"
                                    editorType="dxSelectBox"
                                    [editorOptions]="{ dataSource: estados }"
                                  ></dxi-item>
                                  <dxi-item
                                    dataField="descripcion"
                                    caption="Descripcion Actividad"
                                    
                                    [colSpan]="2"
                                    [editorOptions]="{ height: 100 }"
                                  >
                                  </dxi-item>
                                </dxi-item>
                        
                                
                              </dxo-form>
                            </dxo-editing>
                        
                            <dxi-column dataField="programa_nombre" caption="Nombre Programa" ></dxi-column>
                            <dxi-column dataField="subindice_nombre" caption="Subindice"></dxi-column>
                            <dxi-column dataField="nombre" caption="Nombre Actividad"></dxi-column>
                            <dxi-column dataField="usuario_nombre" caption="Creador de la Actividad"></dxi-column>
                            <dxi-column dataField="fecha" caption="Fecha" dataType="date" [width]="70"> </dxi-column>
                            <dxi-column dataField="descripcion" caption="Descripcion Actividad"></dxi-column>
                            <dxi-column dataField="estadoActividad_Descripcion" caption="Estado" > </dxi-column>
                            
                           <!--  <dxi-column dataField="StateID" caption="State" [width]="125">
                              <dxo-lookup [dataSource]="states" displayExpr="Name" valueExpr="ID">
                              </dxo-lookup>
                              
                            </dxi-column> -->
                            <dxi-column dataField="Address" [visible]="false"> </dxi-column>
                            <dxi-column dataField="Notes" [visible]="false"> </dxi-column>
                          </dx-data-grid>
                        </div>

                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
