<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Calendario</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
              <div class="card col-md-11">
                <div class="card-header">
                <h3 class="card-title">Programas por colores</h3>
                </div>
                <div class="card-body">
                  <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                    <ul class="fc-color-picker" id="color-chooser">
                      <li *ngFor="let item of list">
                        <i [style.color]="item.color" [style.font-size]="'15px'" class="fas fa-square"></i>
                        <span style="font-size:15px;margin-left:5px;margin-right:15px">{{ item.nombre }}</span>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>

          <!-- /.col -->
          <div class="col-md-11">
            <div class="card card-primary">
              <div class="card-body p-0">
                <!-- THE CALENDAR -->
                <!-- <div id="calendar"></div> -->
                <full-calendar  [options]="calendarOptions" dateClick="eventClicDate($event)" (click)="eventClicDate($event)"></full-calendar>
              </div>
              <!-- /.card-body -->
              <!--  -->
            </div>
            <!-- /.card -->
          </div>
          <dx-popup [width]="700" [height]="550" [showTitle]="true" title="Detalles de la actividad" [dragEnabled]="false"
                [hideOnOutsideClick]="true" [showCloseButton]="true" [(visible)]="popupDetailsVisible">
                <app-form-actividadDetails [actividad]="actividadDetails" (visibleEvent)="visibleEvent($event)"></app-form-actividadDetails>
          </dx-popup>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
