<div class="m-3">
  <div id="form-container">
    <form (submit)="submit($event)" enctype="multipart/form-data">

      <dx-form id="form" [colCount]="2" [(formData)]="crud.entidad" labelLocation="top" [disabled]="false" [readOnly]="modoView">
         <!-- - - - creacion del programa -->
        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dxi-item [colSpan]="1" [label]="{text:'Nombre Programa'}" dataField="nombre" >
            <dxi-validation-rule type="required" ></dxi-validation-rule>
          </dxi-item>
          <dxi-item [colSpan]="1" [label]="{text:'Color'}">
            <div *dxTemplate >
              <dx-color-box id="color_id" dataField="programa.color" [(value)]="crud.entidad.color"  ></dx-color-box>
            </div>

            <dxi-validation-rule type="required" ></dxi-validation-rule>
          </dxi-item>
        </dxi-item>


         <!-- - - - -pestañas -->
        <dxi-item [colSpan]="2" >
          <dx-tab-panel [loop]="true" [animationEnabled]="true" [swipeEnabled]="true">
            <dxi-item title="Manual de usuario">
              <app-form-manual [manuales]="crud.entidad.manuales" [listaDeManuales]="listaDeManuales" (manualEvent)="addManual($event)" (quitarManualEvent)="deleteManual($event)"></app-form-manual>
            </dxi-item>
          </dx-tab-panel>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dxi-item>
            <div class="mb-2">
              <dx-button type="success" text="Subindices" icon="fa fa-plus" (onClick)="showSubindicePopUp()"></dx-button>
            </div>
          </dxi-item>

          <dxi-item itemType="button" horizontalAlignment="right" verticalAlignment="bottom"
            [buttonOptions]="buttonOptionsSave" [editorOptions]="{ disabled: modoView }">
          </dxi-item>
        </dxi-item>
      </dx-form>
    </form>
  </div>
</div>


<dx-popup [width]="600" [height]="600" [showTitle]="true" title="Crear nuevo subindice" [dragEnabled]="false"
  [hideOnOutsideClick]="true" [showCloseButton]="true" [(visible)]="popupSubindiceVisible">
  <dx-scroll-view width="100%" height="100%">
    <app-form-subindice [modoView]="modoView" [subindices]="crud.entidad.subindices" (subindiceEvent)="subindiceEvent($event)"></app-form-subindice>
  </dx-scroll-view>

</dx-popup>
